li {
  list-style: none;
}

ul {
  text-align: left;
}

.weather-app-wrapper {
  max-width: 900px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  border-radius: 10px;
  border: 2px solid bisque;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}
.weather-app strong {
  font-size: 80px;
}

.weather-app .units {
  position: relative;
  font-size: 14px;
  top: -45px;
}

#greet-city {
  font-size: 45px;
  font-weight: 600;
}

#sunny-icon {
  font-size: 100px;
  opacity: 0.7;
  transition: all 0.15s ease-in-ou;
}
#current-weather {
  margin-top: 35px;
  margin-bottom: 30px;
}
#current_description {
  font-size: 20px;
  text-transform: uppercase;
}
