li {
  list-style: none;
}

ul {
  text-align: left;
}

a {
  text-decoration: none;
}
body {
  color: #fae3d9;
  background: linear-gradient(
    110.6deg,
    rgb(184, 142, 252) 2.2%,
    rgb(104, 119, 244) 100.2%
  );
}

.weather-app-wrapper {
  max-width: 1000px;
  margin: 30px auto;
}
.weather-app {
  padding: 20px;
  font-family: "Libre Franklin", sans-serif;
  text-align: center;
}
.weather-app strong {
  font-size: 80px;
}

.weather-app .units {
  position: relative;
  font-size: 14px;
  top: -45px;
}

.weather-app .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-app .active:hover {
  text-decoration: none;
}

#current-weather {
  margin-top: 35px;
  margin-bottom: 30px;
}
#current_description {
  font-size: 20px;
  text-transform: uppercase;
}

#current_city {
  font-size: 60px;
  font-family: "Alice", serif;
}
#temp-details {
  letter-spacing: 1px;
  line-height: 30px;
}

#city-input {
  border: 1px solid rgb(17, 17, 17, 0.1);
  border-radius: 30px;
  background: #e6dedd;
  opacity: 0.5;
  text-align: center;
  transition: all 200ms ease-in-out;
}
#logo {
  font-family: "Sacramento", cursive;
  font-size: 30px;
  font-weight: 500px;
}
#updated_info {
  font-size: 15px;
}
